@font-face {
  font-family: 'Melodrama';
  src:
    url('/assets/fonts/Melodrama-Variable.woff2') format('woff2'),
    url('/assets/fonts/Melodrama-Variable.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('/assets/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
