@import 'tailwindcss';

@theme {
  --color-canvas: #10100e;
  --color-fg: #ffffe3;
  --color-fg-muted: #7e7e72;
  --color-primary: #aeb4ce;

  --font-display: 'Departure Mono', monospace;
  --font-mono: 'Jetbrains Mono', monospace;
}

@layer base {
  body {
    @apply text-fg bg-canvas font-mono;
  }
}
