---
import Layout from '~/layouts/Layout.astro'
---

<Layout>
  <section class="mt-12 grid place-content-center px-6">
    <div class="flex flex-col gap-2">
      <h1 class="font-display text-center text-4xl">404</h1>
      <p class="text-fg-muted text-center uppercase">
        It might have been moved... or it never existed at all.
      </p>
    </div>
    <div class="text-fg-muted mt-6 flex items-center justify-center uppercase">
      <a href="/" class="flex items-center gap-2"
        ><span class="font-display text-lg">←</span>Back to home</a
      >
    </div>
  </section>
</Layout>
