---
import CopyButton from '~/components/CopyButton.astro'
import Link from '~/components/Link.astro'
import Layout from '~/layouts/Layout.astro'
import EmailSection from '~/sections/EmailSection.astro'
import HeaderSection from '~/sections/HeaderSection.astro'
import SocialSection from '~/sections/SocialSection.astro'
import config from '~/site-config.json'
---

<Layout>
  <div class="grid place-items-center gap-12 px-4">
    <HeaderSection />

    <SocialSection links={config.social} />

    <EmailSection email={config.email} />
  </div>
</Layout>
