---
import { Icon } from 'astro-icon/components'

export type Props = {
  text: string
}

const { text } = Astro.props
---

<button
  id="copy-btn"
  type="button"
  class="bg-[#d6d3a8] p-2 text-black"
  data-copy-text={text}
  aria-label="Copy to clipboard"
>
  <Icon name="copy" class:list="size-4" id="copy-icon" />
  <Icon name="check" class:list="size-4 hidden" id="check-icon" />
</button>

<script>
  import copy from 'copy-text-to-clipboard'

  const btn = document.getElementById('copy-btn')
  const copyIcon = document.getElementById('copy-icon')
  const checkIcon = document.getElementById('check-icon')

  function toggleIcons(showCheck: boolean) {
    copyIcon?.classList.toggle('hidden', showCheck)
    checkIcon?.classList.toggle('hidden', !showCheck)
  }

  async function copyToClip() {
    const textToCopy = btn?.dataset.copyText ?? ''
    const success = copy(textToCopy)
    if (success) {
      toggleIcons(true)

      setTimeout(() => {
        toggleIcons(false)
      }, 1000)
    }
  }

  btn?.addEventListener('click', copyToClip)
</script>
