---
import { Icon } from 'astro-icon/components'

export type Props = {
  link: {
    href: string
    label: string
    iconName: string
  }
}

const { link } = Astro.props
---

<div
  class="border-fg-muted/50 text-fg-muted group hover:text-fg/60 flex w-full border transition-colors duration-300"
>
  <a
    href={link.href}
    class="ring-offset-canvas ring-primary flex w-full items-center justify-between px-6 py-4 ring-offset-2 outline-none focus-visible:ring-2"
    target="_blank"
    rel="noreferrer noopener"
  >
    <div class="flex items-center gap-3">
      <Icon name={link.iconName} />
      <span class="text-sm uppercase">{link.label}</span>
    </div>
    <span class="font-display text-lg">↗</span>
  </a>
</div>
