<section class="mx-auto flex max-w-md flex-col items-center gap-4 text-center">
  <div class="flex flex-col gap-1">
    <h1 class="text-fg-muted text-sm uppercase">
      Aldo R. Robles - Software Developer
    </h1>
    <h2 class="font-display text-lg uppercase">
      Building simple solutions for complex problems ♥
    </h2>
  </div>
  <p class="text-fg-muted text-sm uppercase">
    <span class="font-display text-lg">&rsaquo;</span> Here you’ll find links to
    my work, personal projects, and more.
  </p>
</section>
