---
import '~/styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Aldo R. Robles - Links</title>
  </head>
  <body class="min-h-screen min-w-80 antialiased">
    <slot />
  </body>
</html>
